@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');

:root {
  --bg: #222;
  --content: #ccc;
  --highlight: #f55;
  font-family: 'Merriweather', serif;
}

body {
  background-color: var(--bg);
  color: var(--content);
}

button {
  cursor: pointer;
}

.textButton {
  background: none;
  border: none;
  text-decoration: underline;
  color: var(--highlight);
  margin: 8px;
  padding: 0;
}

.textButton:hover {
  color: white;
}

.card {
  background-color: #333;
}
